<h1><%= @listing.strain%></h1>

<%= render :partial => 'status' %>

<%= render :partial => 'listing_info', locals: { listing: @listing } %>

<h2>Proposals on this listing</h2>

<%= render :partial => 'proposals/table', locals: { listing: @listing, proposals: @listing.proposals } %>
