<h1>All Growers</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Email</th>
      <th>Listings</th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= link_to "#{user.listings.count} listing".pluralize(user.listings.count), user %></td>
    </tr>
  <% end %>
  </tbody>

</table>

<br />
