<h1><%= @user[:email] %></h1>

<h2>Listings</h2>
<%= render :partial => 'listings', locals: {user: @user, listings: @user.listings} %>

<% if current_user == @user %>
  <h2>Proposals</h2>
  <%= render :partial => 'proposals', locals: { proposals: @user.proposals } %>
<% end %>
