<h2>Listings for <%= @seed.common_name %></h2>
<div id="listings">
	<% @listings.each do |l| %>
		<div class="listing">
			<%= link_to "Listing #{l.id}", listing_path(l) %> submitted by <%= link_to "#{l.lister[:email]}", "/user/#{l.lister[:id]}/listings"  %>
		</div>
	<% end %>
</div>
