<h2>Listings for <%= @seed.common_name %></h2>
<div id="listings">
	<% @listings.each do |l| %>
		<div class="listing">
			<%= link_to "#{l[:seed_quantity]} #{l[:strain]} #{@seed[:common_name]}", listing_path(l) %> submitted by <%= link_to "#{l.lister[:email]}", l.lister  %>
		</div>
	<% end %>
</div>
