<h2>Listings for <%= @seed.common_name %></h2>
<div id="listings">
	<% @listings.each do |l| %>
		<div class="listing">
			<%= link_to "Listing #{l.id} submitted by #{l.lister[:email]}", listing_path(l)  %>
		</div>
	<% end %>
</div>
