<div class="well">
  <div class="pull-left">
    <%= render partial: 'shared/search_form', locals: {search_path: search_seeds_path} %>
  </div>
  <div class="pull-right">
    <%= link_to "Suggest a Seed", new_seed_path %>
  </div>
</div>