<% columns = [:common_name, :scientific_name, :hardiness_zone ] if local_assigns[:columns].nil? %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <% columns.each do |column| %>
        <th><%= column.to_s.titleize %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% seeds.each do |seed| %>
    <tr>
      <% columns.each do |column| %>
        <td><%= seed.send(column.to_sym) %></td>
      <% end %>
        <td><%= link_to "#{seed.listings.count} listing".pluralize(seed.listings.count), seed %></td>
    </tr>
    <% end %>
  </tbody>
</table>