<h1>New proposal</h1>

<div class="well">
  <h3><%= @listing.strain %></h3>
  <br />
  <%= render :partial => 'listings/listing_info', locals: { listing: @listing } %>
</div>

<%= render 'form' %>

<%= link_to 'Back', listing_proposals_path(@listing) %>
