<h1>Proposal of <%= @proposal.strain %></h1>
<%= render :partial => 'proposal_info', locals: { proposal: @proposal, listing: @listing } %>


<%= link_to 'Edit', edit_listing_proposal_path(@listing, @proposal) %> |
<%= link_to 'Back to listing', listing_path(@listing) %>
