<h2>Admin Actions</h2>
<ul>
  <li><%= link_to "Unlock users locked that have failed too many logins", admin_users_show_locked_path %> </li>
  <li><%= link_to "Approve or reject seed creation proposals", admin_seeds_path %></li>
</ul>
